.profileInfo{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid whitesmoke;
    padding: 20px;
}
.profileInfo img{

}
.p{

    text-align:center;
    color: black;
    padding-left: 10px;
}