
.unActive{
    min-height: 10px;
    min-width: 10px;
    border-radius: 50px;
    background-color: orange;
}
.active{
    min-height: 10px;
     font-weight: bold;
     background-color: red;
    border-radius: 50px;
    min-width: 10px;
 }